*~
*.swp
*.pyc
bin
eggs
parts
.installed.cfg
.mr.developer.cfg
*.egg-info
src
develop-eggs
sphinx
dist
bob/ip/caffe_extractor/data/face_verification_experiment-master/
bob/ip/caffe_extractor/data/vgg_face_caffe/
